.my-container{
    display: flex;
    width: 100%;
}
.my-col{
    background-color: aliceblue;
    margin: 20px;
    width: 100%;
}
.my-row{
    background-color: aliceblue;
    width: 100%;
    margin: 20px;

}
.my-container .my-row .my-meteo{
    transform: translateX(30%);
}
.col.my-meteo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#my-forecast{
    margin-bottom: 50%;
}
.col.my-location div{
}