body{
    background-image: url('../asset/bg-example.jpg');

}
.my-main{
    width: 100vh;
}
.my-header{
    position: relative;
    top: 2%;
    margin-top: 1%;
}
.my-header .row .col{
    z-index: 2;
}
.my-main{
    height: 100vh;
    z-index: 0;
}
.row{
    z-index: 2;
}
.layer {
    background: linear-gradient(to bottom, rgba(192, 187, 187, 0.534), rgba(0, 0, 0, 0.69));     
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}
.container.my-menu{
    background-color: #000000de;
    position: absolute;
    height: 100vh;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: top 2s, visibility 4s;
}
.container.my-pref{
    background-color: #000000;
    position: absolute;
    height: 100vh;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: top 2s, visibility 4s;
}
.container.my-menu.hidden{
    top: 100vh;
}
.container.my-pref.hidden{
    visibility: hidden;
}

#my-trigger{
    position: absolute;
    bottom: 15px;
    left:50%;
    transform: translateX(-50%);
    transform: rotate(90deg);
    z-index: 3;
    transition: transform 2s;
    margin-bottom: 1%;
}
#c-1{
    height: 2px;
    width: 20px;
    background-color: white;
    z-index: 5;
    transform: rotate(-45deg);
    margin-top: 10px;
}
#c-2{
    height: 2px;
    width: 20px;
    background-color: white;
    z-index: 5;
    transform: rotate(45deg);
    margin-top: 10px;
}
.close#my-trigger{
    transform: scale(1.2);

}
.close #c-2{
    margin-top: -2px;
}
label{
    margin: 5px;
}
